<!DOCTYPE html>
<html lang="en" ng-app="WebFract3D">
  <head>
    <meta charset="utf-8">
    <title>Web Fract 3D</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./stylesheets/app.css" rel="stylesheet" type="text/css">
  </head>
  <body id="web-fract-3d" ng-controller="ControlPanelCtrl">
    <div id="control-panel" ng-click="doNotHandleKeyPresses()" class="panel panel-default">
      <div class="panel-heading"><span class="title">Web Fract 3D Control Panel</span></div>
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-8 control-label">View Size</label>
            <div class="col-sm-4">
              <input type="number" min="1" ng-model="view_state.size" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">View Position</label>
            <div class="col-sm-9">
              <input type="number" ng-model="view_state.position.x" class="form-control">
              <input type="number" ng-model="view_state.position.y" class="form-control">
              <input type="number" ng-model="view_state.position.z" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">View Rotation</label>
            <div class="col-sm-9">
              <input type="number" min="-180" max="180" ng-model="view_state.rotation.x" class="form-control">
              <input type="number" min="-180" max="180" ng-model="view_state.rotation.y" class="form-control">
              <input type="number" min="-180" max="180" ng-model="view_state.rotation.z" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Fractal Position</label>
            <div class="col-sm-9">
              <input type="number" min="-4" max="4" ng-model="fractal_state.r" class="form-control">
              <input type="number" min="-4" max="4" ng-model="fractal_state.i" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Julia Position</label>
            <div class="col-sm-9">
              <input type="number" min="-4" max="4" ng-model="fractal_state.jr" class="form-control">
              <input type="number" min="-4" max="4" ng-model="fractal_state.ji" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-8 control-label">Fractal Size</label>
            <div class="col-sm-4">
              <input type="number" min="0" max="180" ng-model="fractal_state.size" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-8 control-label">Fractal Divisions</label>
            <div class="col-sm-4">
              <input type="number" min="8" max="1000" ng-model="fractal_state.divisions" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-8 control-label">Fractal Iterations</label>
            <div class="col-sm-4">
              <input type="number" min="8" max="1000" ng-model="fractal_state.max_iterations" class="form-control">
            </div>
          </div>
        </form>
      </div>
    </div>
    <script id="2d-vertex-shader" type="x-shader/x-vertex">
      attribute vec2 a_position;
      uniform vec2 u_resolution;
      
      void main() {
        // convert the rectangle from pixels to 0.0 to 1.0
        vec2 zeroToOne = a_position / u_resolution;
        
        // convert from 0->1 to 0->2
        vec2 zeroToTwo = zeroToOne * 2.0;
        
        // convert from 0->2 to -1->+1 (clipspace)
        vec2 clipSpace = zeroToTwo - 1.0;
        
        gl_Position = vec4(clipSpace * vec2(1, -1), 0, 1);
      }
      
    </script>
    <script id="2d-fragment-shader" type="x-shader/x-fragment">
      precision mediump float;
      
      uniform vec4 u_color;
      
      void main() {
         gl_FragColor = u_color;
      }
      
      
    </script>
    <canvas id="canvas" ng-click="doHandleKeyPresses()"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js"></script>
    <script src="./javascripts/base.js"></script>
    <script src="./javascripts/control_panel_controller.js"></script>
    <script src="./javascripts/color_functions.js"></script>
    <script src="./javascripts/depth_functions.js"></script>
    <script src="./javascripts/view_state_service.js"></script>
    <script src="./javascripts/fractal_state_service.js"></script>
    <script src="./javascripts/renderer.js"></script>
    <script src="./javascripts/fractals/base.js"></script>
    <script src="./javascripts/fractals/mandelbrot.js"></script>
    <script src="./javascripts/fractals/mandelbrot3.js"></script>
    <script src="./javascripts/fractals/newton2.js"></script>
    <script src="./javascripts/fractals/newton3.js"></script>
    <script src="./javascripts/fractals/newton4.js"></script>
    <script src="./javascripts/fractals/newton6.js"></script>
  </body>
</html>