#web-fract-3d {
  overflow: hidden;
  #control-panel {
    width: 300px;
    position: fixed;
    top: 10px;
    right: 10px;
    .panel-heading {
      input[type="checkbox"] {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
    &.shrunken {
      height: auto;
      width: auto;
      .panel-heading {
        height: 32px;
        span.title { display: none; }
      }
      .panel-body {display: none; }
    }
    .panel-body {
      .col-sm-9 {
        input[type="number"] {
          display: inline-block;
          width: 30%;
          padding: 6px 4px;
        }
      }
    }
  }
  canvas {
    width: 100%;
    height: 100%;
    background: black;
  }
}
