#web-fract-3d {
  overflow: hidden;
}
#web-fract-3d #control-panel {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0px;
  right: 0px;
}
#web-fract-3d #control-panel .panel-heading input[type="checkbox"] {
  position: absolute;
  top: 5px;
  right: 5px;
}
#web-fract-3d #control-panel .panel-body .col-sm-9 input[type="number"] {
  display: inline-block;
  width: 48%;
  padding: 6px 4px;
}
#web-fract-3d #control-panel .panel-body .col-sm-9 input[type="number"].triple {
  width: 30%;
}
#web-fract-3d canvas {
  background: black;
}
